*{
    padding: 0;
    margin: 0;
    border:border-box;
}
header{
    width: 100%;
    min-height: 20vh; ;
}
.navbar-nav{
    display: flex;
    justify-content: end;
}
.container-fluid a{
font-weight: 600;
color: white;
}
main{
    width: 100%;
    min-height: 70vh;
}
.card-img-top{
    width: 100%;
    height: 20vh;
}
body{
    background-color: rgb(175, 172, 172);
}
#carouselExample {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.26);
    height: 20%;
    width: 50%;
    margin-bottom: 30px;

}
.carousel-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.parrafo-index {
    font-size: xx-large;
}

.search-filt{
    min-width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form{
    display: flex;
}
.form label{
    margin-right: 10px;
}

.tarjet{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.price-descption{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-us{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.main-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.container-a{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;   
    background-color:  rgb(8, 4, 0) ;
}
footer{
    width: 100%;
    min-height: 10vh ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(8, 4, 0) ;
}
.log-footer{
    border-radius: 20%;
}
h2{
   padding-right:  20px;
}
tbody,th,tr,td {
    border: 2px solid rgb(0, 0, 0);
}
.table{
    width: 90%;
}
table{
margin: auto;
}
.stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.description{
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
}
@media only screen and ( max-width: 380px){
    .description{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 20px;
}
}
.card-descrip{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3%;
}
.card{
    border: none;
    margin: 10px;
    box-shadow:  20px 20px 10px rgb(7, 6, 6) ;

}